.container {
  display: flex;
  justify-content: center;
}

.checkout {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.form {
  background-color: var(--color-10-grey);
  padding: 1em 1em 2em;
  border-radius: var(--radius-default);
  margin: 1em 1em 0;
  min-width: 350px;
}

.title {
  font-size: var(--font-size-large);
  font-weight: bold;
  padding: 10px 0;
  margin: 0 0 5px;
}

.label {
  margin-top: 1.5em;
  display: inline-block;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}

.noCartMessage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2em;
}

.message {
  width: 100%;
  text-align: center;
  font-size: var(--font-size-medium-large);
  padding: 2em;
}
