.payable {
  padding: 1em;
  border-radius: var(--radius-default);
  background-color: var(--color-10-grey);
  margin: 0.5em 0;
}

.payable:not(:first-child) {
  margin: 0.5em 0 0.5em 0.5em;
}

.value {
  font-weight: lighter;
}

.item {
  line-height: 1.6;
}
