.product {
  padding: 2em 3em;
  flex-basis: 19%;
}

.information {
  padding-left: 0.5em;
  padding-top: 1em;
}

.name {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  font-size: var(--font-size-medium-large);
  font-weight: bold;
  line-height: 1.2;
  color: var(--color-dark-grey);
  margin: 0 0 7px;
}

.price {
  font-size: var(--font-size-medium);
  color: var(--color-light-green);
  font-weight: bold;
}

.image {
  position: relative;
  display: block;
  width: 276px;
  height: 294px;
  border-radius: var(--radius-default);
}
