.container {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: center;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 75%;
  padding: 1em 2em;
}
