.name {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  font-size: 18px;
  line-height: 1.2;
  color: #7d7a77;
  margin: 0 0 7px;
}

.price {
  font-size: 16px;
  color: #f77274;
  font-weight: bold;
}

.image {
  position: relative;
  display: block;
  width: 276px;
  height: 294px;
  background: #f4f2f0;
  border-radius: 3px;
}
