@import "./colors.css";

body {
  font-size: 14px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  padding: 0;
  color: #333333;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
