.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 2em;
}

.image {
  max-width: 360px;
  max-height: 450px;
  border-radius: 3px;
}

.info {
  width: 550px;
  padding: 0 2em;
  margin-left: 2em;
  border-radius: 3px;
  background-color: var(--color-white);
}

.name {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.4em;
  color: var(--color-dark-grey);
  text-transform: uppercase;
}

.category {
  color: var(--color-ligther-grey);
}

.description {
  color: var(--color-ligth-grey);
  text-align: justify;
  margin: 1em 0;
  line-height: 1.5;
}

.price {
  font-size: 32px;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.priceContainer,
.sellerContainer {
  padding-top: 1em;
}

.sellerContainer {
  color: var(--color-ligth-grey);
}

.buttonContainer {
  display: flex;
  flex-flow: column wrap;
}

.buttonContainer > a {
  margin-top: 0.5em;
}

.seller {
  font-weight: bold;
}

.productContainer {
  display: flex;
  justify-content: space-between;
  flex-basis: 1170px;
}
