.outsideBox {
  display: flex;
  justify-content: center;
}

.container {
  margin: 4em;
  flex-basis: 1170px;
}

.seller {
  color: var(--color-ligth-grey);
  margin: 0.5em 0;
  font-size: 18px;
  font-weight: bold;
}

.submitButtonContainer,
.backButtonContainer {
  padding: 0.8em 0;
}

.submitButtonContainer {
  display: flex;
  flex-direction: row-reverse;
}
