.cart {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  padding: 1em 0;
  flex-basis: var(--content-width);
}

.seller {
  color: var(--color-ligth-grey);
  margin: 0.5em 0;
  font-size: var(--font-size-medium-large);
  font-weight: bold;
}

.submitButtonContainer,
.backButtonContainer {
  padding: 0.8em 0;
}

.submitButtonContainer {
  display: flex;
  flex-direction: row-reverse;
}

.message {
  width: 100%;
  text-align: center;
  font-size: var(--font-size-medium-large);
  padding: 2em;
}
