.formNotification {
  margin-top: 1em;
  display: block;
  padding: 1em;
}

.error {
  border: 1px solid var(--color-error-ligth);
  background: var(--color-error-ligther);
}

.success {
  border-left: 1px solid var(--color-success-light);
  background: var(--color-success-lighter);
}
